

      @font-face {

          font-family: 'fontsaudimat-mono';

          src: url('/assets/gui/fontsfontsaudimat-mono.ttf');

          src: url('/assets/gui/fontsfontsaudimat-mono.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }


@font-face {

          font-family: 'Inter';

          src: url('/assets/gui/Inter.ttf');

          src: url('/assets/gui/inter.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }

@font-face {

          font-family: 'BebasNeue-Regular';

          src: url('/assets/gui/BebasNeue-Regular.ttf');

          src: url('/assets/gui/BebasNeue-Regular.ttf').format('truetype');

          font-weight: normal;

          font-style: normal;

      }
